---
import SiteHead from '../components/SiteHead.astro'
import SiteFoot from '../components/SiteFoot.astro'
import SiteScrollbar from '../components/SiteScrollbar.astro'
import SHero from '../components/SHero.astro'
import SAbout from '../components/SAbout.astro'
import SWork from '../components/SWork.astro'
import SMyWay from '../components/SMyWay.astro'
import SCTA from '../components/SCTA.astro'
import ASeparator from '../components/ASeparator.astro'

import '../styles/global.scss'
---

<html lang="en" class="is-scroll-blocked theme-contrasted">
  <head>
    <meta charset="utf-8" />

    <title>ALEX @qsi.uk</title>

    <meta name="description" content="Take a look." />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="robots" content="noindex, nofollow" />
    <link rel="canonical" href="https://qsiuk2.vercel.app" />

    <!-- FAVICON / ICON -->
    <link rel="icon" type="image/png" href="https://img.sanishtech.com/u/c7cd66a8e51b1b3baeefdca13623a7cf.jpg" />
    <link rel="shortcut icon" href="https://img.sanishtech.com/u/c7cd66a8e51b1b3baeefdca13623a7cf.jpg" />
    <link rel="apple-touch-icon" href="https://img.sanishtech.com/u/c7cd66a8e51b1b3baeefdca13623a7cf.jpg" />
    <meta name="apple-mobile-web-app-title" content="ALEX @qsi.uk" />

    <meta name="theme-color" content="#160000" />
    <meta name="msapplication-navbutton-color" content="#160000" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#160000" />

    <!-- OPEN GRAPH -->
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ALEX @qsi.uk" />
    <meta property="og:description" content="Take a look." />
    <meta property="og:url" content="https://qsiuk2.vercel.app" />
    <meta property="og:site_name" content="ALEX @qsi.uk" />
    <meta property="og:image" content="https://img.sanishtech.com/u/c7cd66a8e51b1b3baeefdca13623a7cf.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="ALEX @qsi.uk" />
    <meta name="twitter:description" content="Take a look." />
    <meta name="twitter:image" content="https://img.sanishtech.com/u/c7cd66a8e51b1b3baeefdca13623a7cf.jpg" />

    <!-- FONTS -->
    <link rel="preload" href="/fonts/PPEditorialNew-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/PPEditorialNew-Ultralight.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/PPFraktionMono-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/PPFraktionMono-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Bigger-Display.woff2" as="font" type="font/woff2" crossorigin />
  </head>

  <body>
    <div class="site-wrapper js-site-wrapper" style="opacity: 0;">
      <SiteHead />
      <SHero />
      <SAbout />
      <ASeparator style="secondary" />
      <SWork />
      <ASeparator style="secondary" />
      <SMyWay />
      <SCTA />
      <SiteFoot />
    </div>

    <div
      class="site-intro js-intro"
      style="opacity:1;position:fixed;top:0;left:0;z-index:50;width:100%;height:100%;background:#F40C3F;"
    >
      <div class="sb-logo js-logo">
        <div class="sb__path sb__path--v sb__path--v-1 js-logo-line-v"></div>
        <div class="sb__path sb__path--h sb__path--h-1 js-logo-line-h"></div>
        <div class="sb__path sb__path--v sb__path--v-2 js-logo-line-v"></div>
        <div class="sb__path sb__path--v sb__path--v-3 js-logo-line-v"></div>
        <div class="sb__path sb__path--h sb__path--h-2 js-logo-line-h"></div>
        <div class="sb__path sb__path--v sb__path--v-4 js-logo-line-v"></div>
        <div class="sb__path sb__path--h sb__path--h-3 js-logo-line-h"></div>
        <div class="sb__path sb__path--v sb__path--v-5 js-logo-line-v"></div>
      </div>

      <div class="site-intro__border site-intro__border--top js-border-top"></div>
      <div class="site-intro__border site-intro__border--left js-border-left"></div>
      <div class="site-intro__border site-intro__border--right js-border-right"></div>
    </div>

    <div class="site-mount js-mount"></div>
    <div class="site-contrast-mask js-contrast-mask"></div>

    <SiteScrollbar />
  </body>
</html>
